= render :partial => "layouts/navbar"

%div.bradflix-movies
  %div.container

    = render :partial => "layouts/search"

    %div.row{:style => "margin: 25px 0 0 0;"}
      %div.col-md-2.hidden-xs.hidden-sm
        = render :partial => "layouts/sidebar"

      %div.col-md-10
        -@movies_alphabetically.each do |movie|
          %div{:style => "display:inline-block;"}
            %a{:href => "/movies/#{movie[1][:year]}/#{movie[1][:api_name]}"}
              %img.img-responsive{:src => "#{movie[1][:logo]}", :alt => "#{movie[1][:name]}", :style => "max-width: 120px;"}

      -# links to _movies partial
      -#- @movies_by_year.each do |movie_yearset|
      -#  = "Year: #{movie_yearset[0]}"
      -#  - movie_yearset[1..movie_yearset.size].each do |movies|
      -#    = render :partial => "movies/movies", :locals => {:movies => movies}