= render :partial => "layouts/navbar"

%div.bradflix-recent
  %div.container

    %div.movieCount
      %span
        = @count_all_movies
      %span Total Movies

    %div.row
      - @movies_recent.reverse.each do |movie|
        %div{:style => "display:inline-block;"}
          %a{:href => "/movies/#{movie[1][:year]}/#{movie[1][:api_name]}"}
            %img.img-responsive{:src => "#{movie[1][:logo]}", :alt => "#{movie[1][:name]}", :style => "max-width: 120px;"}