= render :partial => "layouts/navbar"

= render :partial => "layouts/search"

= render :partial => "layouts/movie-count"

%div.bradflix-recent

  %div.container

    %div.row
      %div.col-md-2.hidden-xs.hidden-sm
        = render :partial => "layouts/sidebar"

      %div.col-md-10
        - @movies_recent.reverse.each do |movie|
          = render :partial => "movies/movies", :locals => {:movie => movie}
