= render :partial => "layouts/navbar"

%div.container
  %div
    - @movies_by_selected_year.each do |movie|
      %div{:style => "display:inline-block;"}
        %div
          = movie[1][:date]
        -#%a{:href => "#{movie[1][:movie]}"}
        %a{:href => "/movies/#{movie[1][:api_name]}"}
          %div{:style => "background:url('#{movie[1][:logo]}')no-repeat; width: 250px; height: 375px; display:inline-block;"}