= render :partial => "layouts/navbar_signin"

%div.container
  = render :partial => "layouts/logo_signin"

  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal", :style => ""}) do |f|

    %div.form-group.row
      %label.col-sm-2.control-label{for: "user_email"} Email
      .col-sm-10
        = f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control"

    %div.form-group.row

      %label.col-sm-2.control-label{for: "user_password"} Password
      .col-sm-10
        = f.password_field :password, :autofocus => true, :placeholder => "Password", :class => "form-control"

    %div.form-group.row
      %div{:class => "col-sm-offset-2 col-sm-10"}
        %button{:type => "submit", :class => "btn btn-default"} Sign in

- if !alert.blank?
  %div.container{:style => "margin-top: 25px;"}
    -#%div.alert.alert-warning= notice
    %div.alert.alert-danger
      = alert