!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title BradFlix
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    = yield

    -#%p.notice= notice
    -#%p.alert= alert

    = javascript_include_tag "application"